.active{
    background: gold;
    color: black;
}

.icons .fa-brands{
    color: white;
}

.content-opciones li a{
    width: 100%;
    text-decoration: none;
}

.content-menu{
    z-index: 100;
}

@media only screen and (min-width:768px){
    .content-menu{
        width: 100% !important;
        height: 10vh;
        display: flex;
        justify-content: center;
    }
    .fa-bars-staggered{
        display: none;
    }
    .header-menu{
        display: none;
    }
    .footer-menu{
        display: none;
    }
    .imagen-logo{
        height: 100%;
    }
    .imagen-logo img{
        height: 100%;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding: 0 20px;
        margin: auto;
        height: 10vh;
        position: fixed;
        background: white;
    }

    .content-navbar{
        display: flex;
        height: 100%;
        align-items: center;
    }

    .imagen-logo{
        display: flex;
        height: 100%;
        align-items: center;
    }
    .opciones{
        display: flex;
        align-content: center;
    }
    
    .opciones .content-opciones{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .content-opciones li{
        display: grid;
        align-items: center;
        justify-content: center;
        height: 60%;
        width: auto;
    }

    .content-opciones li:hover{
        background: #F0F2F5;

    }
    .content-opciones li a{
        display: flex;
        align-items: center;
        color: black;
        height: 100%;
        padding: 5px;
    }
}
@media only screen and (max-width:768px){
    .fa-solid{
        font-size: 25px;
    }
    .mostrar{
        display: flex !important;
    }
    .fa-bars-staggered{
        display: flex;
    }
    .redes{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 25vh;
        gap: 4px;
    }
    .redes p{
        text-align: center;
        font-size: 15px;
    }
    .icons{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .fa-brands{
        font-size: 25px;
    }
    .content-header{
        display: flex;
        align-items: center;
        height: 10vh;
        justify-content: space-between;
        padding: 0 25px;
    }
    .fa-bars{
        display: flex;
    }
    .content-menu{
        height: 10vh;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .content-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10vh;

        position: fixed;
        background: white;
    }
    .imagen-logo{
        display: flex;
        align-items: center;
        height: 100%;
    }
    .imagen-logo img{
        height: 100%;
    }
    .opciones{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        height: 100vh;
        background: black;
        color: white;
        width: 80%;

        -webkit-box-shadow: 29px 36px 80px 29px rgba(0,0,0,0.43);
        -moz-box-shadow: 29px 36px 80px 29px rgba(0,0,0,0.43);
        box-shadow: 29px 36px 80px 29px rgba(0,0,0,0.43);
        /* border-top: 10px solid rgb(223, 28, 28); */

        position: fixed;
    }
    .content-opciones{
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 45vh;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 8px;
    }
    .content-opciones li{
        display: flex;
        align-items: center;
        height: 40px;
        border-radius: 10px;
        padding: 0 10px;
    }
    .content-opciones li a{
        width: 100%;
        color: white;
        text-decoration: none;
    }

    .content-opciones li:hover{
        background: white;
        color: black;
    }
}